:root { 
  --black: #000000;
  --blue-ribbon: #004bff;
  --bombay: #b2b3b4;
  --caribbean-green-pearl: #5beb8b;
  --cultured-pearl: #f4f5f6;
  --eerie-black: #1b1c1d;
  --emerald: #33de72;
  --lightning-yellow: #ffbf29;
  --madang: #b5ffc9;
  --mercury: #e5e6e7;
  --mint-green: #88f7a9;
  --torch-red: #ff0f47;
  --tuatara: #343536;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 24px;
  --font-size-xs: 12px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 64px;
 
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-tuatara-12px {
  color: var(--tuatara);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-black-eerie-black-16px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}

.roboto-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-eerie-black-16px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-black-eerie-black-40px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
}

.border-1px-mercury {
  border: 1px solid var(--mercury);
}

.border-1px-blue-ribbon {
  border: 1px solid var(--blue-ribbon);
}

.border-1px-emerald {
  border: 1px solid var(--emerald);
}

.border-1px-bombay {
  border: 1px solid var(--bombay);
}
