/* screen - support-en */

.support-en {
  background-color: var(--white);
  height: 1234px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.support-en .footer-qPh5Gz {
  background-color: transparent;
  height: 74px;
  left: 0px;
  position: absolute;
  top: 1160px;
  width: 1442px;
}

.support-en .bg-r8k2Nx {
  background-color: var(--white);
  box-shadow: 0px -1px 0px #1b1c1d1a;
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 1440px;
}

.support-en .logo-r8k2Nx {
  background-color: transparent;
  height: 74px;
  left: 1184px;
  position: absolute;
  top: 0px;
  width: 234px;
}

.support-en .image-7-19FPl2 {
  background-color: transparent;
  height: 44px;
  left: 92px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 136px;
}

.support-en .developed-by-19FPl2 {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 30px;
  width: auto;
}

.support-en .x2022-shanghai-dao-cl-r8k2Nx {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 30px;
  width: auto;
}

.support-en .x1-qPh5Gz {
  background-color: transparent;
  height: 400px;
  left: 120px;
  position: absolute;
  top: 200px;
  width: 1206px;
}

.support-en .bg-aWb4Eg {
  background-color: var(--cultured-pearl);
  height: 400px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1200px;
}

.support-en .image-8-aWb4Eg {
  background-color: transparent;
  height: 264px;
  left: 874px;
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 274px;
}

.support-en .scan-q-rcode-above-t-aWb4Eg {
  background-color: transparent;
  height: auto;
  left: 878px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 337px;
  white-space: nowrap;
  width: auto;
}

.support-en .community-support-aWb4Eg {
  background-color: transparent;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 126px;
  width: auto;
}

.support-en .github-httpsgithubcomhwameistor-aWb4Eg {
  background-color: transparent;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 200px;
  white-space: nowrap;
  width: 427px;
}

.support-en .x2-qPh5Gz {
  background-color: transparent;
  height: 1040px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1444px;
}

.support-en .bg-noiboI {
  background-color: var(--cultured-pearl);
  height: 400px;
  left: 120px;
  mix-blend-mode: normal;
  position: absolute;
  top: 640px;
  width: 1200px;
}

.support-en .commercial-support-noiboI {
  background-color: transparent;
  height: auto;
  left: 170px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 766px;
  width: auto;
}

.support-en .tel-86-400-002-6898-email-infodaocloudio-noiboI {
  background-color: transparent;
  height: auto;
  left: 170px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 840px;
  width: 427px;
}

.support-en .bird-noiboI {
  background-color: transparent;
  height: 242px;
  left: 1030px;
  position: absolute;
  top: 718px;
  width: 228px;
}

.support-en .navigation-noiboI {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.support-en .bg-aQbItf {
  background-color: var(--white);
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.support-en .navigation-aQbItf {
  background-color: transparent;
  height: 38px;
  left: 864px;
  position: absolute;
  top: 18px;
  width: 544px;
}

.support-en .language-XCsWDM {
  background-color: transparent;
  height: 38px;
  left: 444px;
  position: absolute;
  top: 0px;
  width: 94px;
}

.support-en .border-Y8XKxP {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 92px;
}

.support-en .text_label-Y8XKxP {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: auto;
}

.support-en .text_label-Y8XKxP:hover {
  color: dimgray;
}

.support-en .documentation-XCsWDM {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.support-en .documentation-XCsWDM:hover {
  color: dimgray;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: dimgrey;
}


.support-en .community-XCsWDM {
  background-color: transparent;
  height: auto;
  left: 155px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.support-en .community-XCsWDM:hover {
  color: dimgray;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: dimgrey;
}


.support-en .support-XCsWDM {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 280px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.support-en .support-XCsWDM:hover {
  color: dimgray;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: dimgrey;
}

.support-en .blog-XCsWDM {
  background-color: transparent;
  height: auto;
  left: 376px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.support-en .blog-XCsWDM:hover {
  color: dimgray;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: dimgrey;
}

.support-en .logo-aQbItf {
  background-color: transparent;
  height: 48px;
  left: 28px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 230px;
}
